<nav
  class="
    navbar navbar-light
    bg-white
    border-bottom
    shadow-sm
    fixed-top
    d-flex
    align-items-center
    justify-content-between
  "
>
  <img
    src="/assets/images/logo.png"
    style="max-height: 70px"
    alt="logo"
    routerLink="/"
    class="logo"
  />

  <div class="text-uppercase" style="font-size: larger">
    <a
      [routerLink]="['/']"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      class="p-2"
    >
      Home
    </a>
    <a routerLink="/shop" routerLinkActive="active" class="p-2">Shop</a>
    <a href="#" class="p-2">Contact</a>
  </div>

  <div class="d-flex align-items-center">
    <a class="position-relative" style="color: gray">
      <fa-icon [icon]="faShoppingCart" size="2x" class="mr-5"></fa-icon>
      <div class="cart-no">5</div>
    </a>
    <button class="btn btn-outline-success my-2 my-sm-0 mr-2">Login</button>
    <button class="btn btn-outline-success my-2 my-sm-0 mr-3">Sign up</button>
  </div>
</nav>
